.Board td{
    border: 1px solid #333;
    height:0px;
    width:0px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive;
    font-size: 0px;
    cursor:pointer;
}

.Board table{
    padding-left:10px;
}
.Ships p{
    padding-top: 0px;
}
img {
    width: 50px;
}

Start{
    position:relative;
}

Start button{
    position:absolute;
    padding-top: 850px;
}