td{
    border: 1px solid #333;
    height:0px;
    width:0px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive;
    font-size: 0px;
    cursor:pointer;
    img:"https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/USS_Texas_BB-35.jpg/220px-USS_Texas_BB-35.jpg"      
}

table{
    border-collapse: collapse;
    position:absolute;
    padding-top:100px;
}

img {
    
    width: 50px;
}

